<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性和侦听器</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>
<body>
<div id="app">
    <!--{{fullName}}-->
    <!--{{age}}-->
    
    <!--<div v-if="show">Hello World</div>-->
    <!--不同的是带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS 属性 display
    
    v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。

    v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——直到条件第一次变为真时，才会开始渲染条件块。

    相比之下，v-show 就简单得多——不管初始条件是什么，元素总是会被渲染，并且只是简单地基于 CSS 进行切换。

    一般来说，v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，如果需要非常频繁地切换，
    
    则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。
    
    
    key 管理可复用的元素
    -->
    <div v-if="show">
        用户名：<input key="username"/>
    </div>
    <div v-else="show">
        邮箱：<input key="email"/>
    </div>

</div>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            firstName: "ruolan",
            lastName: "mingyue",
            // fullName:"ruolan mingyue",
            age: 28,
            show: false
        },
        //第三种方式  侦听属性
        // 这种方式 当fullName的其他数据进行改变的时候 不会影响这个变化  和computed这个类似  有缓存
        // watch:{
        //     firstName:function () {
        //         console.log("计算了一次")
        //         this.fullName = this.firstName + " " + this.lastName
        //     },
        //     lastName:function () {
        //         console.log("计算了一次")
        //         this.fullName = this.firstName + " " + this.lastName
        //     }
        // }

        computed: {
            fullName: {

                get: function () {
                    console.log("getter计算了一次")
                    return this.firstName + ' ' + this.lastName
                },

                set: function (newValue) {
                    console.log("setter计算了一次")
                    var names = newValue.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[names.length - 1]
                }
            }

        }


        //第一种方式
        //计算属性  计算属性只有在它的相关依赖发生改变时才会重新求值。
        // 这就意味着只要 message 还没有发生改变，多次访问 reversedMessage
        // 计算属性会立即返回之前的计算结果，而不必再次执行函数。
        // computed: {
        //     fullName: function () {
        //         console.log("计算了一次")
        //         return this.firstName + " " + this.lastName
        //     }
        // }

        //第二种方法
        //或者使用方法   但是调用的时候需要方法名并且()这个  也就是fullName()
        //但是这个不存在了缓存   也就是只要其他地方进行了改变  那就会调用一次方法
        // methods:{
        //     fullName:function () {
        //         console.log("计算了一次")
        //         return this.firstName + " " + this.lastName
        //     }
        // }

    })

</script>
</body>
</html>