<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>TO DO LIST</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>

<!--V层-->
<div id="app">
  <input :type="text" v-model="inputValue">
  <!--v-on  绑定一个事件-->
  <button v-on:click="handlerAddClick">提交</button>
  <button v-on:click="handlerLessClick">删减</button>
  <ul>
    <!--v-for  帮助我们去循环数据   list表示的是data里面的list  item表示每次循环的内容

    我们用 v-for 指令根据一组数组的选项列表进行渲染。
    v-for 指令需要使用 item in items 形式的特殊语法，
    items 是源数据数组并且 item 是数组元素迭代的别名。
    -->
    <!--<li v-for="item in list">{{item}}</li>
    还有父组件在接受子组件传值的时候  接受的传值方法  用@delete来接收 也就是@是v-bind的缩写
    4. v-bind:index="index"  传递数组下标  通过v-bind往子组件中传值  所以想用这个下标  我们就需要在
    子组件中的props里面声明这个index下标  这样父组件传递过去的index就会被子组件接受
    5.(item,index) in list"  item是循环的每次的数据   index是下标
    然后定义handlerItemDelete方法
    -->
    <todo-item v-bind:content="item"
               v-for="(item,index) in list"
               v-bind:index="index"
               @delete="handlerItemDelete"/>
  </ul>
</div>

<!--VM层-->
<script>

  <!--全局组件-->
  // Vue.component("TodoItem", {
  //   props: ['content'],
  //   template: "<li>{{content}}</li>"
  // })

  //子组件  定义局部组件  但是这个需要在app里面进行注册
  var TodoItem = {
    //在props里面定义需要传出去的值index  这里是数组的下标   当接受到index的时候
    props:['content','index'],
    //子组件向父组件进行传值的时候   1.在子组件中定义方法handlerItemClick
    template:"<li @click='handlerItemClick'>{{content}}</li>",
    methods:{
      //2.子组件定义的方法  要在子组件的方法中定义出来
      handlerItemClick:function () {
        // alert("click")
        //3.使用 $emit(eventName) 触发事件   并且这个时候触发事件的时候把下标传出出去
        this.$emit("delete",this.index)
      }
    }
  }

  var app = new Vue({
    el: "#app",
    //固定的写法  代表这个vue实例里面的数据
    data: {
      list: [],
      inputValue: ''
    },
    //如果定义的是局部组件  那么就需要在这个地方进行注册
    components:{
      TodoItem:TodoItem
    },
    methods: {
      //用于增加一个todolist
      handlerAddClick: function () {
        this.list.push(this.inputValue)
        this.inputValue = ''
      },
      //用于消除一个todolist
      handlerLessClick: function () {
        this.list.pop(this.list[1])
      },
      //然后在控件View层定义好接收触发的方法handlerItemDelete之后  还有接收的index参数  然后在app实例里面
      //就可以拿到参数  然后进行数据进行
      handlerItemDelete:function (index) {
        // this.list.pop(this.list[1])
        // alert(index)
        //6.从list中删除  根据下标进行删除
        this.list.splice(index,1)
      }
    }
  })
</script>

</body>
</html>
<!--父组件向子组件传值
    通过在view里面的组件的v-bind来进行数据的传递   父组件向子组件传值
    子组件不要忘记接收也就是在定义的子组件中的props里面定义父组件传递过来的值
    然后通过{{}}形式来进行接收值
-->
<!--子组件向父组件进行传值
    通过$emit()方式，通过事件触发向上一层触发事件     子组件触发出的时间  父组件恰好在监听
    监听过就能获取到子组件带出来的值 实现子组件向父组件传值
 -->
